[submodule "smart-contract"]
	path = smart-contract
	url = https://github.com/JuanCSUCoder/CasetaSmartContract.git
[submodule "plan"]
	path = plan
	url = https://github.com/JuanCSUCoder/CasetaPlaneacion.git
[submodule "marca"]
	path = marca
	url = https://github.com/JuanCSUCoder/CasetaMarca.git
